<div class="example-traffic-light-fe">

    <div id="example-traffic-light-fe-current">
        <label>{{currentColour}}</label>
    </div>

    <button id="example-traffic-light-fe-button-red"
            class="traffic-light-fe-button" >
        {{changeButtonRedText}}
    </button>
    <button id="example-traffic-light-fe-button-yellow"
            class="traffic-light-fe-button" >
        {{changeButtonYellowText}}
    </button>
    <button id="example-traffic-light-fe-button-green"
            class="traffic-light-fe-button" >
        {{changeButtonGreenText}}
    </button>

</div>